<h1 class="text-center text-blue-900">Test Music Tools</h1>
<div class="flex flex-col h-full w-full justify-center items-center my-2">
    <div class="flex flex-row">
        <div class="flex flex-col m-2 items-center justify-center">
            <img class="h-20 w-20 mx-2"
                 src="../../../assets/images/Cartoon-music-background-illustration-vector.png"
                 alt="cartoon music">
            <p class="text-blue-900 cursor-pointer">Cartoon Music</p>
        </div>
        <div class="flex flex-col m-2 items-center justify-center">
            <img class="h-20 w-20 mx-2"
                 src="../../../assets/images/RockMusic600.jpg"
                 alt="rock music">
            <p class="text-blue-900 cursor-pointer">Rock Music</p>
        </div>
        <div class="flex flex-col m-2 items-center justify-center">
            <img class="h-20 w-20 mx-2"
                 src="../../../assets/images/heavy-metal-music-minimalism-wallpaper-preview.jpg"
                 alt="metal music">
            <p class="text-blue-900 cursor-pointer">Metal Music</p>
        </div>
    </div>
    <div class="flex flex-row">
        <div class="flex flex-col m-2 items-center justify-center">
            <img class="h-20 w-20 mx-2"
                 src="../../../assets/images/f73a5b4b7262440684a2b5c39e684304.jpg"
                 alt="workout music">
            <p class="text-blue-900 cursor-pointer">Workout Music</p>
        </div>
        <div class="flex flex-col m-2 items-center justify-center">
            <img class="h-20 w-20 mx-2"
                 src="../../../assets/images/avatars-6UbO9NkkIZGOzsjt-uieshw-t500x500.jpg"
                 alt="relax music">
            <p class="text-blue-900 cursor-pointer">Relax Music</p>
        </div>
        <div class="flex flex-col m-2 items-center justify-center">
            <img class="h-20 w-20 mx-2"
                 src="../../../assets/images/set-symbols-country-music-theme-with-drawn-lettering_119217-321.jpg"
                 alt="contry music">
            <p class="text-blue-900 cursor-pointer">Contry Music</p>
        </div>
    </div>

</div>